@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #F8FAFC;
    color: #374151;
  }
}

/* CSS Reset của Vanh */
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0px;
  min-height: 100%;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

/* Font face của Vanh */
@font-face {
  font-family: "Montserrat-Medium";
  src: local("Montserrat Medium"), local("Montserrat-Medium");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat Bold"), local("Montserrat-Bold");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat Regular"), local("Montserrat");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold");
  font-weight: 600;
  font-style: normal;
}